<html >
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body onload='document.f.username.focus();'>
<div id="loginForm">
    <h3>Login With Username and Password</h3>
    <div class="error" th:if="${param.error}">
        Incorrect username or password. Try again.
    </div>

    <form name='f' th:action="@{/login}" method='POST'>
        <table>
            <tr>
                <td>User:</td>
                <td>
                    <input type='text' name='username' value=''/>
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>
                    <input type='password' name='password'/>
                </td>
            </tr>
            <!--<tr>-->
                <!--<td>-->
                    <!--&lt;!&ndash;-->
                        <!--https://docs.spring.io/spring-security/site/docs/current/reference/html/web-app-security.html#csrf-->

                        <!--If you are using Spring MVC <form:form> tag or Thymeleaf 2.1+-->
                        <!--and are using @EnableWebSecurity, the CsrfToken is automatically included for you-->
                        <!--(using the CsrfRequestDataValueProcessor).-->
                    <!--&ndash;&gt;-->
                    <!--<input type="hidden"-->
                           <!--name="${_csrf.parameterName}"-->
                           <!--value="${_csrf.token}"/>-->
                <!--</td>-->
            <!--</tr>-->
            <tr>
                <td colspan='2'>
                    <input name="submit" type="submit" value="Login"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>